---
layout: page
title: Publications
description: 
background: '/img/bg-contact.jpg'
form: true
---



        <!-- Home Post List -->
        {% for publications in site.publications limit : 5 %}

        <article class="publications-preview">
          <a href="{{ publications.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="publications-title">{{ publications.title }}</h2>
            {% if publications.subtitle %}
            <h3 class="publications-subtitle">{{ publications.subtitle }}</h3>
            {% else %}
            <h3 class="publications-subtitle">{{ publications.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="publications-meta">Posted by
            {% if publications.author %}
            {{ publications.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ publications.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=publications.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/publications" | relative_url }}">View All Publications &rarr;</a>
        </div>

  
