---
layout: page
title: Publications
background: '/img/bg-post.jpg'
---

{% assign sorted_pubs = site.publications | sort: 'date' %}
{% for publication in sorted_pubs reversed %}

<article class="post-preview">
  <a href="{{ publication.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h3 class="post-title">{{ publication.title }}</h2>
    {% if publication.subtitle %}
    <h4 class="post-subtitle">{{ publication.subtitle }}</h3>
    {% else %}
    <h4 class="post-subtitle">{{ publication.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Published on
    {{ publication.date | date: '%B %d, %Y' }} &middot; 
  </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Publications</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Publications</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
